/netimage/1_0.bmp
/netimage/IMG_20200309_233506_586.bmp
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/EinkFrame.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
