[Unit]
Description=My Python Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/vasily/eink/e-Paper/RaspberryPi_JetsonNano/python/frame_eink.py
WorkingDirectory=/home/vasily/eink/e-Paper/RaspberryPi_JetsonNano/python
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target